<!-- wp:template-part {"slug":"header"} /-->

<main class="wp-block-group alignfull">
    <section class="hero-section text-center py-5">
        <h1>
            Ludorum && Code
        </h1>

        <p>
            Ayudando a tener un plan...para llegar mas alto y subir de <strong> NIVEL </strong>
        </p>

        <button class="btn btn-primary" id="btn-informes">
            Pedir Informes <i fa-solid fa-whatsapp style="color:firebrick;"></i>
        </button>
    </section>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->